<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.css">
    <link rel="stylesheet" href="./css/main.css">
    <title>BH-BLOG</title>
</head>

<body>
    <div class="container">
          <div class="row border rounded mb-1">
              <div class="col text-center">
                  <h1>
                  {{header}}
                  </h1>
              </div>
          </div>
          <div class="row border rounded p-3">
            {{{body}}}
          </div>
    </div>

    <script src="./js/jquery.js"></script>
    <script src="./js/popper.js"></script>
    <script src="./js/bootstrap.js"></script>
</body>

</html>