<div class="container">
    <div class="row">
        
        <div class="col text-right">
            <span>Logged in with user: {{username}}</span>
            <a href="./logout"> Logout</a>
        </div>
    </div>
</div>